/* ------------Productos--------------- */

.card-product{
    width: 32rem;
    height: 9.5rem;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 10.2rem 21.5rem;
    grid-template-rows: 36px 59px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
    
.container-imgProduct{
    grid-area: 1 / 1 / 3 / 2;
    cursor: pointer;
}
.container-header{
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    background: var(--blue-accent-dark);
    border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    -ms-border-radius: 0 5px 0 0;
    -o-border-radius: 0 5px 0 0;
}
.container-info{
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    background: var(--blue-accent);
    border-radius: 0 0 5px;
    -webkit-border-radius: 0 0 5px;
    -moz-border-radius: 0 0 5px;
    -ms-border-radius: 0 0 5px;
    -o-border-radius: 0 0 5px;
}
.container-imgProduct > img {
    width: 100%;
    height: 100%;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    -ms-border-radius: 5px 0 0 5px;
    -o-border-radius: 5px 0 0 5px;
    transition: all;
    transition-duration: 100ms;
    transition-delay: 100ms;
}
.container-header > h2{
    margin: auto;
    color: var(--white);
    font-size: var(--body-text);
}
.container-info > div {
    width: 50%;
    margin: auto;
}
.container-info > div > h1{
    color: var(--white);
    font-weight: bold;
    font-size: var(--subtitle);
    text-align: center;
}
.container-info > picture {
    width: 50%;
    margin: auto;
    display: flex;
}
.container-info > picture > img {
    margin: auto;
    width: 4.8rem;
    cursor: pointer;
    transition: all;
    transition-duration: 200ms;
    transition-delay: 130ms;
}
.container-imgProduct > img:hover {
    transform: translateX(-5%);
    -webkit-transform: translateX(-5%);
    -moz-transform: translateX(-5%);
    -ms-transform: translateX(-5%);
    -o-transform: translateX(-5%);
}
.container-info > picture > img:hover {
    transform: translateX(25%);
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
}
/*------------Responsive------------------*/

@media (min-width: 993px) and (max-width: 1199px){
    .card-product{
        width: 35rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .container-imgProduct{
        width: 100%;
        height: 23rem;
        margin-bottom: -3px;
    }
    .container-header{
        width: 100%;
        height: 3rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    } 
    .container-info{
        display: flex;
        width: 100%;
        height: 7.2rem;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .container-imgProduct > img {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }
    .container-imgProduct > img:hover {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
    }
}
@media (min-width: 1200px){
    .card-product{
        width: 35rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .container-imgProduct{
        width: 100%;
        height: 23rem;
        margin-bottom: -3px;
    }
    .container-header{
        width: 100%;
        height: 3rem;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    } 
    .container-info{
        display: flex;
        width: 100%;
        height: 7.2rem;
        border-radius: 0 0 5px 5px;
        -webkit-border-radius: 0 0 5px 5px;
        -moz-border-radius: 0 0 5px 5px;
        -ms-border-radius: 0 0 5px 5px;
        -o-border-radius: 0 0 5px 5px;
    }
    .container-imgProduct > img {
        width: 100%;
        height: 100%;
        border-radius: 5px 5px 0 0;
        -webkit-border-radius: 5px 5px 0 0;
        -moz-border-radius: 5px 5px 0 0;
        -ms-border-radius: 5px 5px 0 0;
        -o-border-radius: 5px 5px 0 0;
    }
    .container-imgProduct > img:hover {
        transform: translateY(-5%);
        -webkit-transform: translateY(-5%);
        -moz-transform: translateY(-5%);
        -ms-transform: translateY(-5%);
        -o-transform: translateY(-5%);
    }
}