:root{
    --bg-dark-blue: #003641;
    --bg-blue: #A2E3FC;
    --blue-accent: #0099b8;
    --blue-accent-dark: #007e97;
    --white: #E4E4E4;
    --detailText-color: #A5B1D5;
    --black-text: #1B1C1E;
    --separator: #929292;
}