@import './css/colors.css';
@import './css/variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
  scroll-behavior: smooth;
}
body{
  display: flex;
  flex-direction: column;
  background: var(--bg-dark-blue);
}
/* ------------Header--------------- */
.header{
  width: 100%;
  height: 6.5rem;
  display: flex;
  border-bottom: 1px solid var(--bg-dark-blue);
}
.header > picture{
  margin: auto;
  width: 90%;
  display: flex;
  border-bottom: 1px solid var(--separator);
}
.header > picture > img {
  margin: auto;
  width: 60px;
}

/* ------------Nav--------------- */
nav{
  width: 100%;
  height: 4rem;
  position: relative;
}
nav > ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav > ul > li{
  font-size: var(--body-text);
  padding: 3rem 0;
  font-weight: bold;
}
nav > ul > li > a{
  text-decoration: none;
  color: var(--white);
}
#listaCarrito{
  display: none;
  position: absolute;
  z-index: 1;
  top: 4rem;
  right: 4rem;
  border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* ------------Intro--------------- */
.intro-container{
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
.intro-container > picture {
  position: relative;
  display: inline-block;
  text-align: center;
}
.introImagen{
  width: 100%;
  height: 34rem;
  object-position: 100%;
  opacity: 1;
  backdrop-filter: drop-shadow(10px 10px 10px rgb(247, 1, 1));
}
.title-intro{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: var(--large);
  font-weight: bold;
  color: var(--white);
  width: 30rem;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.parrafo-intro{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--title);
  color: var(--white);
  width: 23rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.effect-vanish-intro{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, #003641 8.65%, rgba(27, 127, 131, 0) 100%);
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}
.vidrio-effect{
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 12rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.button-intro{
  position: absolute;
  top: 110%;
  left: 50%;
  min-width: 22rem;
  text-decoration:none;
  margin: 2rem auto;
  background: var(--blue-accent);
  padding: 1rem 4rem;
  font-size: var(--title);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

/*------------Modal------------------*/
.modal-cardInformation {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}


/*------------Responsive------------------*/

@media (min-width: 768px) and (max-width: 992px){
  
  #listaCarrito{
    right: 9rem;
  }
  /* ------------Intro--------------- */
  .intro-container{
    height: 54rem;
  }
  .introImagen{
    height: 40rem;
  }
  .title-intro{
    top: 65%;
    width: 35rem;
  }
  .parrafo-intro{
    top: 80%;
    width: 32rem;
    font-size: var(--subtitle);
  }
  .vidrio-effect{
    top: 75%;
    width: 35rem;
    height: 14rem;
  }
  .button-intro{
    font-size: var(--subtitle);
  }
}

@media (min-width: 993px) and (max-width: 1199px){
  #listaCarrito{
    right: 12rem;
  }
  /* ------------Intro--------------- */
  .intro-container{
    height: fit-content;
    margin-bottom: -4px;
  }
  .introImagen{
    height: 48rem;
    
  }
  .title-intro{
    width: 35rem;
    top: 20%;
    left: 20%;
  }
  .parrafo-intro{
    top: 36%;
    left: 20%;
    text-align: start;
    translate: 6%;
    width: 32rem;
    font-size: var(--subtitle);
  }
  .vidrio-effect{
    top: 30%;
    left: 20%;
    width: 35rem;
    height: 14rem;
    background: rgba(0, 0, 0, 0.445);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }
  .button-intro{
    font-size: var(--subtitle);
    position: absolute;
    top: 55%;
    left: 20%;
  }
}
@media (min-width: 1200px){
  #listaCarrito{
    right: 15rem;
  }
  /* ------------Intro--------------- */
  .intro-container{
    height: fit-content;
    margin-bottom: -4px;
  }
  .introImagen{
    height: 50rem;
  }
  .title-intro{
    width: 35rem;
    translate: 6%;
    top: 20%;
    left: 20%;
  }
  .parrafo-intro{
    top: 36%;
    left: 20%;
    width: 40rem;
    text-align: justify;
    translate: 15%;
    font-size: var(--subtitle);
}
  .vidrio-effect{
    top: 29%;
    left: 20%;
    width: 44rem;
    height: 14rem;
    translate: 13%;
    background: rgba(0, 0, 0, 0.445);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.144);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(2.5px);
  }
  .button-intro{
    font-size: var(--subtitle);
    position: absolute;
    top: 65%;
    left: 20%;
  }
}