@import './css/colors.css';
@import './css/variables.css';

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
  font-family: sans-serif;
}
body{
  display: flex;
  flex-direction: column;
  background: var(--bg-dark-blue);
}
/* ------------Header--------------- */
.header{
  width: 100%;
  height: 6.5rem;
  display: flex;
  border-bottom: 1px solid var(--bg-dark-blue);
}
.header > picture{
  margin: auto;
  width: 90%;
  display: flex;
  border-bottom: 1px solid var(--separator);
}
.header > picture > img {
  margin: auto;
  width: 60px;
}

/* ------------Nav--------------- */
nav{
  width: 100%;
  height: 4rem;
}
nav > ul {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
nav > ul > li{
  font-size: var(--body-text);
  padding: 3rem 0;
  font-weight: bold;
}
nav > ul > li > a{
  text-decoration: none;
  color: var(--white);
}

/* ------------Intro--------------- */
.intro-container{
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
}
.intro-container > picture {
  position: relative;
  display: inline-block;
  text-align: center;
}
.introImagen{
  width: 100%;
  height: 34rem;
  object-position: 100%;
  opacity: 1;
  backdrop-filter: drop-shadow(10px 10px 10px rgb(247, 1, 1));
}
.title-intro{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: var(--large);
  font-weight: bold;
  color: var(--white);
  width: 30rem;
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
}
.parrafo-intro{
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: var(--title);
  color: var(--white);
  width: 23rem;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.vidrio-effect{
  position: absolute;
  top: 77%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  height: 12rem;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2.5px);
  -webkit-backdrop-filter: blur(2.5px);
}

.button-intro{
  text-decoration:none;
  margin: 3rem auto;
  background: var(--blue-accent);
  padding: 1rem 4rem;
  font-size: var(--title);
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

/* ------------Productos--------------- */
/* --------Perifericos----------- */
/* main{
  background: var(--white);
  padding: 3rem 0;
} */